<div class="bg-gradient-to-r from-gray-900 to-gray-500 flex flex-col h-screen">
  <header class="flex-grow flex flex-col justify-center items-center px-8 bg-cover bg-center" style="background-image: url('assets/20211104204318-e25786df.jpg');">
    <h1 class="text-5xl font-bold text-white text-center mb-8">
      "Welcome to our blooming paradise."
    </h1>
    <p class="text-white text-lg text-center mb-12">
      "Embark on a journey to discover a floral paradise, where every bloom tells a story. Elevate your cherished moments with our meticulously curated collection of exquisite flowers. Step into the enchanting world of blooms – a warm welcome awaits you."
    </p>
  </header>
</div>

  
